---
layout: default
body-class: wider
---

<div class="wider ligGreyToWhite">
		<div class="grid">
		      <div class="unit whole center-on-mobiles">
		        <h1 class="bigGapTop">Hey, I'm Nique. Pro Surfer. (Web only. Afraid of sea.)</h1>
		        <p class="lead">Independent designer focusing on making products work, feel simple &amp; a little fun. <a href="/profile">More about me</a>.</p>

		      </div>
		 </div>
</div>		 

<div class="wider midnight">
		<div class="grid">
			<ul class="recentWork">
				{% for page in site.categories.work limit:3 %}
				<li class="block">
					<a href="{{site.baseurl}}/{{post.url}}">
						<span class="title">{{post.title}}</span>
						<span class="subtitle">{{post.subtitle}}</span>
					</a>

				</li>
				{% endfor %}
			</ul>
		 </div>
</div>	

<div class="wider midnight">
	<div class="grid">
	      <div class="unit one-fifth">
	        <h4>Recent work</h4>
	      </div>
	      <div class="unit four-fifths">
		        <ul class="recentWork">
					{% for post in site.categories.work limit:3 %}
					<li class="block">
						<a href="{{site.baseurl}}/{{post.url}}">
							<span class="title">{{post.title}}</span>
							<span class="subtitle">{{post.subtitle}}</span>
						</a>

					</li>
					{% endfor %}
				</ul>
	      </div>
	    </div>
</div>    

<!--
<div class="wider ligGreyToWhite">
		<div class="grid">
		        <h1 class="bigGapTop">Wirewax</h1>
		        <p class="lead">Responsive video editing platform.</p>			
		 </div>
</div>	
-->	 
