<footer>
	<div class="wider ghostBg bigGapTopPad bigGapBottPad">
		<div class="grid bigGapTop bigGapBott">
			<div class="unit half ">
				Nique Woodhouse, Independent Product Designer, London.
			</div>
			<div class="unit one-quarter smallGapBott">
				<a href="http://twitter.com/niquewoodhouse" class="tweetuh">@niquewoodhouse</a>
			</div>	
			<div class="unit one-quarter smallGapBott">
				<a href="mailto:nique.shjm.woodhouse@gmail.com" class="tweetuh">nique.shjm.woodhouse@gmail.com</a>
			</div>					
		</div>
	</div>	
</footer>