		<nav class="header fixed w100 ghostBg {{include.navclass}}">

			<a href="{{site.baseurl}}" class="fLeft logo">
				logo
			</a>

			<ul class="nav fRight midnight">
				<li>
					<a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">
						Work
					</a>
				</li>
				<li>
				<li>
					<a href="{{site.baseurl}}/blog/" class="{% if page.url contains 'about' or page.url contains 'about' %}current{% endif %}">
						Blog
					</a>
				</li>						
					<a href="{{site.baseurl}}/about/" class="{% if page.url contains 'about' or page.url contains 'about' %}current{% endif %}">
						About
					</a>
				</li>
			
			</ul>
		</nav>