<div class="wider ligGreyToWhite bigGapBott">
		<div class="grid">
		      <div class="unit whole center-on-mobiles">
		        <h1 class="bigGapTop mediumGapBott bigGapTop">{{ page.title }}</h1>
		      </div>
		 </div>
		<div class="grid">
		      <div class="unit one-quarter">
		      	<ul class="blockLi list">
		      		<li>Role</li>
		      		<li>{{ post.jobRole }}</li>
		      	</ul>
		      </div>
		      <div class="unit one-quarter">
		      	<ul class="blockLi list">
		      		<li>Year</li>
		      		<li>{{ post.year }}</li>
		      	</ul>		      	
		      </div>
		      <div class="unit one-quarter none">
		      	<ul class="blockLi list">
		      		<li>Output</li>
		      		<li>{{ post.jobOutput }}</li>
		      	</ul>		      	
		      </div>		            		      		      
		 </div>		 
</div>		 