<div class="wider ligGreyToWhite bigGapBott">
		<div class="grid">
		      <div class="unit whole center-on-mobiles">
		        <h1 class="bigGapTop mediumGapBott bigGapTop">{{ page.longTitle }}</h1>
		      </div>
		 </div>
		<div class="grid">
		      <div class="unit one-quarter fRight">
		      	<ul class="blockLi list">
		      		<li>Role</li>
		      		<li>{{ page.jobRole }}</li>
		      		
		      	</ul>
		      </div>
		      <div class="unit one-quarter fRight">
		      	<ul class="blockLi list">
		      		<li>Year</li>
		      		<li>{{ page.year }}</li>
		      	</ul>		      	
		      </div>
		      <div class="unit one-quarter fRight">
		      	<ul class="blockLi list">
		      		<li>Output</li>
		      		<li>{{ page.jobOutput }}</li>
		      	</ul>		      	
		      </div>		            		      		      
		 </div>		 
</div>		 