/* Fills */

.gold {color:#c69c6d}
.midnight {color:#232323;}
.ghost {color:#fafafa;}
.ghost a {color:#fafafa;}

/* Gradients */

.ligGreyToWhite{
   background: -webkit-linear-gradient(#F4F4F4, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F4F4F4, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F4F4F4, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F4F4F4, #fff); /* Standard syntax (must be last) */
}

.DeepBlueToBrightPurp {
  background-color: #0c77f8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c77f8), color-stop(60%, #3474FB), color-stop(100%));
  background: -webkit-linear-gradient(top, #0c77f8 0%, #3474FB 60%, #826cff 100%);
  background: -ms-linear-gradient(top, #0c77f8 0%, #3474FB 60%, #826cff 100%);
  background: linear-gradient(to bottom, #0c77f8 0%, #3474FB 60%, #826cff 100%);
}

/* Backgrounds */

.ghostBg {background:#fafafa;}