/* Reset */

html, body {
	margin:0;padding:0;
}


a.tweetuh {font-size:90rem;}

/* Specific Margins */

.bigGapTop {
	margin:200px 0 100px 0 !important;
}

/* uls */

ul {
	padding:20px;
}

ul li {
	display:inline-block;
	list-style: none;
} 

ul.recentWork li {
	display:block;
	margin:40px 0 40px 0;
}

ul.recentWork li:after {
	content:"";
	height:3px;
	display:block;
	width:100%;
	border-top:1px solid rgba(255, 255, 255, .2);
}

