/* Reset */

html, body {
	margin:0;padding:0;
	overflow-x: hidden;
}


a.tweetuh {font-size:90rem;}

/* Specific Margins */

.bigGapTop {
	margin-top:200px !important;
}
.bigGapBott {
	margin-bottom:200px !important;
}

.mediumGapBott {
	margin-bottom:100px !important;
}



/* Positions */

.fixed {
	position:fixed;
}

.fRight {
	float:right;
}

.fLeft {
	float:left;
}

/* uls */

ul {
	padding:20px;
}

ul.list, nav.header ul.nav {
	padding:0px;
	margin:0px;
}

ul.list li:first-child {
	margin:0 0 15px 0;
}

ul.list li {
	line-height:2em;
}

ul li {
	display:inline-block;
	list-style: none;
} 

ul.blockLi li, ul.recentWork li {
	display:block;
}

nav.header ul.nav {
	display:inline;
}

ul.recentWork li {
	margin:40px 0 40px 0;
}

ul.recentWork li a:hover span.title {
	text-decoration: underline;
}

ul.recentWork li a:after {
	content:"";
	height:15px;
	display:block;
	width:100%;
	border-bottom:1px solid rgba(35, 35, 35, .1);
}




