nav.header {
	padding:15px 15px;
	top:0px;
	left:0px;
}

a.current {
	color:#c69c6d;
}

a.current:after {
	content:"";
	height:3px;
	display:block;
	width:100%;
	border-top:1px solid #c69c6d;

}

.nav-header {
	font-size:1.25rem;
}


nav.header a.logo {
	float:left;
}

nav.header ul.nav {
	float:right;
}

nav.header ul li {
	margin:0 25px 0 0;
}

