---
layout: default
---

<div class="wider ligGreyToWhite bigGapBott">
		<div class="grid">
		      <div class="unit whole center-on-mobiles">
		        <h1 class="bigGapTop mediumGapBott bigGapTop">{{ page.longTitle }}</h1>
		      </div>
		 </div>
		<div class="grid">
		      <div class="unit one-quarter fRight">
		      	<ul>
		      		<li>Role</li>
		      		<li>Creative Director</li>
		      		<li>UX, UI, Sole product designer</li>
		      	</ul>
		        <p class="lead">{{ page.subtitle }}</p>
		      </div>
		      <div class="unit one-quarter fRight">
		      	<ul>
		      		<li>Year</li>
		      		<li>{{ page.year }}</li>
		      	</ul>		      	
		      </div>
		      <!--
		      <div class="unit one-quarter">
		        <p class="lead">{{ page.role }}</p>
		      </div>
		      <div class="unit one-quarter">
		        <p class="lead">{{ page.skills }}</p>
		      </div>	
		      -->	      		      		      
		 </div>		 
</div>		 



{{content}}